.message {
  margin: 20px auto;
  width: fit-content;
  color: darkgreen;
  font-family: sans-serif;
  font-size: 20px;
}

.messageForm {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.messageText,
.messageAuthor {
  width: 500px;
  line-height: 30px;
  font-size: 20px;
  font-family: sans-serif;
  padding: 0 20px;
  box-sizing: border-box;
  color: darkgreen;
  margin-bottom: 10px;
  border: 1px solid darkgreen;
  border-radius: 10px;
}

.messageSubmit {
  border: none;
  line-height: 30px;
  box-sizing: border-box;
  background: lightsteelblue;
  border-radius: 10px;
  color: darkgreen;
  font-size: 20px;
  font-family: sans-serif;
}

.greetings {
  margin: 0 auto;
  width: fit-content;
  margin-top: 20px;
  color: red;
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
}